# Logs
*.log
**/logs

# build
**/node_modules
**/dist
**/dist-ssr
**/build
*.local

# mac os
.DS_Store

# env
.env
*.env
*.env*
**/.env
**/package-lock.json
**/yarn.lock

# Editor directories and files
**/.idea
**/.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# data files
/data